{
    "plugins": [],
    "printWidth": 160,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "endOfLine": "crlf",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSpacing": true,
    "bracketSameLine": true
}
